{% extends 'base.html.twig' %}

{% block title %}{% trans %}Connexion{% endtrans %}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
    <div class="ui message">
        <p>
            {% trans %}Il semble que vous êtes déjà connecté avec l'adresse : {% endtrans %}{{ app.user.username }} <a href="{{ path('app_logout') }}">{% trans %}Se déconnecter ?{% endtrans %}</a>
        </p>
    </div>
    {% endif %}

    <div class="ui stackable three column grid">
        <div class="column PC"></div>
        <div class="column">
        <div class="ui form">
            <h1>Connexion</h1>
            <div class="field">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="field">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
            <div class="ui center aligned">
                <button type= "submit" class="ui primary marginbot button right floated">
                Connexion
                </button>
            </div>
        </div>
        </div>
        <div class="column PC"></div>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
</form>
{% endblock %}
