{% extends 'base.html.twig' %}

{% block title %}Web Academy{% endblock %}

{% block body %}

<div id="background" class="PC"></div>

<div class="ui container">
  <h1 class="landingTitle">{% trans %}Bienvenue sur la C&I Web Academy !{% endtrans %}</h1>
  <h3 class="landingSubheader subheader"><small>{% trans %}Crééz, innovez, apprenez{% endtrans %}</small></h3>
</div>

<div class="ui link centered cards landingCards">
  <div class="ui raised card elearning" onclick="window.location ='/elearning'">
    <div class="content">
      <div class="header">E-Learning</div>
      <div class="meta"><a class="ui green empty circular label"></a> {% trans %}En ligne{% endtrans %}</div>
      <div class="ui divider"></div>
      <div class="description">
        <p>{% trans %}Découvrez une plateforme unique pour tous vos besoins en e-learning. Accompagnement continu. LMS innovant & sécurisé. {% endtrans %}</p>
      </div>
    </div>
      <div class="extra centred content">
        <a class="ui fluid basic button violet right labeled icon">
        <i class="arrow right icon"></i>
        {% trans %}C'est parti !{% endtrans %}
        </a>
      </div>
  </div>
  <div class="ui raised card projectmanagement">
    <div class="content">
      <div class="header">{% trans %}Gestion de projets{% endtrans %}</div>
      <div class="meta"><a class="ui orange empty circular label"></a>  {% trans %}Bientôt disponible{% endtrans %}</div>
      <div class="ui divider"></div>
      <div class="description">
        <p>{% trans %}Application des techniques de gestion de projets afin d'atteindre des objectifs précis.{% endtrans %}</p>
      </div>
    </div>
      <div class="extra centred content">
        <a class="ui fluid basic violet disabled button right labeled icon">
        <i class="arrow right icon"></i>
        {% trans %}C'est parti !{% endtrans %}
        </a>
      </div>
  </div>
  <div class="ui raised card">
    <div class="content">
      <div class="header">{% trans %}Communauté{% endtrans %}</div>
      <div class="meta m1top"><a class="ui orange empty circular label"></a>  {% trans %}Bientôt disponible{% endtrans %}</div>
      <div class="ui divider"></div>
      <div class="description">
        <p>{% trans %}Réseau social basé autour de l'innovation{% endtrans %}</p>
      </div>
    </div>
      <div class="extra centred content">
        <a class="ui fluid basic button  violet disabled right labeled icon">
        <i class="arrow right icon"></i>
        {% trans %}C'est parti !{% endtrans %}
        </a>
      </div>
  </div>




  <div class="ui feed raised segment">
  <h3>Fil d'actualité</h3>
  {% if is_granted('ROLE_ADMIN') %} 
  <button class="ui button" onclick="openModalPost()"><i class="send icon"></i>Écrire un post
  </button>
  {% endif %}
  <div class="ui divider"></div>

<div class="ui feed">
  {% for event in feed %}

  {% if event.post %}
  <div class="event">
    <div class="label">
      <img src="/uploads/profilepics/{{event.createdby.brochurefilename}}">
    </div>
    <div class="content">
      <div class="summary">
        <a> {{event.createdby.forename}}</a> a ajouté un post &nbsp;✉️
        <div class="date">
          {{event.createdAt|format_datetime(locale='fr')}}
        </div>
      </div>
      <div class="extra text">
        <h5>{{event.post.title}}</h5>
        <p>{{event.post.content}}</p>
      </div>
      {% if app.user %}
      <div class="meta forcerow margintop">
        <a onclick="triggerLikeEvent{{event.id}}()"  class="like forcerow">
          <i class="like {% if app.user.feedLikes.contains(event)%}red{% endif %} icon ds{{event.id}} margtiny"></i>
          {% if app.user.feedLikes.contains(event)%}
           <p class="dd{{event.id}}">
          Vous aimez
          </p>         
          {% else %}
          <p class="dd{{event.id}}">
          {{event.likes|length}} J'aime 
          </p>
          {% endif %}
        </a>
      <a><i class="comment icon margtiny"></i> 0 Commentaires</a>
      <a href="/removeFeedEvent/{{event.id}}"><i class="ui red trash icon"></i></a>
      <a><i class="ui right edit icon"></i></a>
      </div>
      {% endif %}
    </div>
  </div>
  <script>
  function triggerLikeEvent{{event.id}}(){
    $.get( "/triggerLikeEvent/"+{{event.id}}, function( data ) {
      $( ".dd{{event.id}}" ).empty().append(data.nbrLikes);
      if(data.set){
          $(".ds{{event.id}}").removeClass("red");
      }else{
          $(".ds{{event.id}}").addClass("red");
          $( ".dd{{event.id}}" ).empty().append("Vous aimez");   
      }
    });
  }
  </script>
  </div>
  {% endif %}

  {% if event.course is not empty %}
  <div class="event">
    <div class="label">
      <img src="/uploads/profilepics/{{event.createdby.brochurefilename}}">
    </div>
    <div class="content">
      <div class="summary">
        <a> {{event.createdby.forename}}</a> a publié <a href="/startCourse/{{event.course[0].slug}}">un cours</a> &nbsp;✨
        <div class="date">
          {{event.createdAt|format_datetime(locale='fr')}}
        </div>
      </div>
      <div class="extra text">
        <h5>{{event.course[0].title}}</h5>
        <p>{{event.course[0].description}}</p>
      </div>
      {% if app.user %}
      <div class="meta forcerow margintop">
        <a onclick="triggerLikeEvent{{event.id}}()"  class="like forcerow">
          <i class="like {% if app.user.feedLikes.contains(event)%}red{% endif %} icon ds{{event.id}} margtiny"></i>
          {% if app.user.feedLikes.contains(event)%}
           <p class="dd{{event.id}}">
          Vous aimez
          </p>         
          {% else %}
          <p class="dd{{event.id}}">
          {{event.likes|length}} J'aime 
          </p>
          {% endif %}
        </a>
      <a><i class="comment icon margtiny"></i> 0 Commentaires</a>
      <a href="/removeFeedEvent/{{event.id}}"><i class="ui red trash icon"></i></a>
      <a><i class="ui right edit icon"></i></a>
      <a href="/startCourse/{{event.course[0].slug}}" target="_blank"  class="ui labeled basic  icon button">
          <i class="eye icon"></i>
          Voir le cours
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  <script>
  function triggerLikeEvent{{event.id}}(){
    $.get( "/triggerLikeEvent/"+{{event.id}}, function( data ) {
      $( ".dd{{event.id}}" ).empty().append(data.nbrLikes);
      if(data.set){
          $(".ds{{event.id}}").removeClass("red");
      }else{
          $(".ds{{event.id}}").addClass("red");
          $( ".dd{{event.id}}" ).empty().append("Vous aimez");   
      }
    });
  }
  </script>
  {% endif %}
  
  {% endfor %}
</div>
</div>

{% if is_granted('ROLE_ADMIN') %} 
<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Ajouter un post
  </div>
  <div class="content">
  <div class="ui form margintop">
    {{form_start(postForm)}}
        <div class="field">
            <label>Titre</label>
            {{form_widget(postForm.title)}}
        </div>
        <div class="field">
            <label>Description</label>
            {{form_widget(postForm.content)}}
        </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>

    {{form_widget(postForm.submit)}}
    {{form_end(postForm)}}
    
  </div>
</div>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.cells.min.js"></script>
<script>

function openModalPost(){
$('.ui.modal')
  .modal('show')
;
}

VANTA.CELLS({
  el: "#background",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 250.00,
  minWidth: 200.00,
  scale: 1.00,
  color1: 0x8c008c,
  color2: 0x7c46ff,
  speed: 0.50
})
</script>
{% endblock %}
